*{
    font-family: 'Titillium Web', sans-serif;
    text-decoration: none!important;
}

/*this is the text style*/
.standard-title{
    margin-top: 100px;
    font-size: 56px;
    color: #FFFFFF;
    float: center;
}
.standard-subtitle{
    position: relative;
    z-index: 1;
    font-size: 32px;
    color: #FFFFFF;
    float: center;
}
.standard-paragraph{
    letter-spacing: 1px;
    margin-left: 20%;
    margin-right: 20%;
    text-align: justify;
    color: #DDDDDD;
    font-size: 16px;
}
.navigation{
    float : right;
    height : 100%;
}
.navigation a ul{
    height : 100%;
    display: table;
    float: left;
}
.navigation a li{
    bottom: -100px;
    display: table-cell;
    height: 100%;
    color: #999999;
    font-size: 16px;
    padding: 1px 50px;
}

.navigation a li:hover{
    animation-name: outline;
    animation-timing-function: cubic-bezier(.73,.69,0,.72);
    animation-duration: 1s;
    color: #FFFFFF;
    border: 1px solid #FFFFFF;
    border-radius: 5px;
    font-size: 16px;
    padding: 0px 49px;
    box-shadow: 0 0 5px #47E10C, 0 0 10px #48e10c80, 0 0 20px #48e10c2c ;
}


/*******************************this is the animations******************************/
@keyframes rotation{
    from{
        -webkit-transform: rotate(90deg);
        -moz-transform: rotate(90deg);
        -o-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        transform: rotate(90deg);
    }
    to{
        -webkit-transform: rotate(-90deg);
        -moz-transform: rotate(-90deg);
        -o-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
        transform: rotate(-90deg);
    }
  }
  @keyframes outline{
    0%{
        box-shadow: 0 0 0px #47E10C, 0 0 0px #48e10c80, 0 0 0px #48e10c2c ;
    }
    100%{
        box-shadow: 0 0 5px #47E10C, 0 0 10px #48e10c80, 0 0 20px #48e10c2c ;
    }
  }

/******************************this is the section style******************************/
.logo{
    background-image: url(./../../Images/logo.png);
    background-size: 40px;
    background-position-y: 50%;
    background-repeat: no-repeat;
    height : 60px;
    width : 40px;
}
.logo:hover{
  animation-name: rotation;
  animation-timing-function: cubic-bezier(0.63,-0.74, 0.44, 1.79);
  animation-duration: 1s;
}
.header{
    z-index: 10;
    top: 0;
    position: fixed;
    width : 100%;
    height : 60px;
    display: block;
    background-color: black;
}
.inner_header{
    width : 830px;
    height : 100%;
    display: block;
    margin: 0 auto;
}
.separatorLine{
    width : 100%;
    height : 1px;
}

.links a{
    color:#FFFFFF;
}

.links a:hover{
    color:#AAAAAA;
}
/******************************this is the button style******************************/
.standard-button{
    margin-top: 13px;
}

/******************************this is the allignment style******************************/
.center{
    text-align: center;
}

.linksList{
    width: 500px;
    margin-left: 20%;
    float: left;
    color : #FFFFFF;
}

.linksList h2{
    text-align: left;
}

.links li{
    text-align: left;
    margin-bottom: 15px;
}
.bigImageCenter{
    background-size: 500px;
    background-repeat: no-repeat;
    height : 300px;
    width : 500px;
    margin:auto;
    margin-top: 20px;
    margin-bottom: 0px;
    display: flex;
    justify-content: center;
}
.ceneterDiv{
    width: 60%;
    height: 300px;
    margin-left: 20%;
}
/******************************this is the IDs******************************/
#pygame:hover::before{
    color: #FFFFFF;
    width: 300px;
    float: right;
    text-align: cente;
    content: "Pygame was used to create the window, draw the UI and draw the shape on the screen";
    border: 1px solid #FFFFFF;
    border-radius: 5px;
    padding: 5px 7px;
}
#numpy:hover::before{
    color: #FFFFFF;
    width: 300px;
    float: right;
    text-align: justify;
    content: "Numpy was only used because I couldn't be bothered multiplying matrices, I know how to do it so what is the point in doing it my-self?";
    border: 1px solid #FFFFFF;
    border-radius: 5px;
    padding: 5px 7px;
}
#sys:hover::before{
    color: #FFFFFF;
    width: 300px;
    float: right;
    text-align: justify;
    content: "System Specific (sys) was used to call a function with arguments in the termianl from a python file";
    border: 1px solid #FFFFFF;
    border-radius: 5px;
    padding: 5px 7px;
}
#discord:hover{
    visibility:visible;
}
#discord div{
    width: 130px;
    position: relative;
    bottom: 42px;
    left: -290px;
    float: right;
}
#discord button{
    background-color: black;
    text-align: center;
    color: white;
    font-size: 15px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 20px;
    border: 2px solid #ffffff;
    float: center;
    visibility: hidden;
    transition-duration: 0.4s;
}
#discord button:hover{
    background-color: white;
    color: black;
}
#discord:hover button{
    visibility:visible;
}